[VS IDE & VS Code, if exists]
.vs
.vscode

[Android Studio & Intellij IDEA]
.gradle
.idea

[Android]
*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
